{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-pkg"
  ],
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
